﻿.map-canvas {
    border: #CCC 1px solid;
}

    .map-canvas img {
        max-width: none;
    }

    .map-canvas label {
        width: auto;
        display: inline;
    }

ul.row {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

    ul.row li {
        list-style: none;
        margin-bottom: 0px;
    }

        ul.row li img {
            /*cursor: pointer;*/
        }

            ul.row li img.thumbnail {
                width: 128px;
                height: 128px;
            }
